body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0; 
    padding: 0;
}

.page-wrapper { 
    background-color: rgb(255, 213, 37);
    padding: 0;
    }
h1, h2 {
    color: rgb(216, 49, 53);
}
.info-box {
    border: 1px solid rgb(0, 128, 78); 
    background-color: #ffffff; 
    color: #000000; 
    margin-bottom: 20px;
    padding: 10px;
}
.coordinator-box {
    border: 1px solid rgb(0, 128, 78); 
    background-color: #ffffff; 
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}
.small-text {
    color: rgb(0, 128, 78); 
    font-size: 0.8em;
}
.container {
    width: 80%;
    margin: auto;
    text-align: start;
}
.centered {
    text-align: center;
}
